#google{
    padding: 5px;
    position:absolute;
    background-color: rgb(248, 248, 248);
    top: 56%;
    right:52%;
    cursor:pointer;
}
.indexeindex2{
    position: absolute;
    border:2px solid rgba(230, 229, 229, 0.897);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    top: 45%;
    right:26.8%;
    width: 600px;
    height: 45px;;
    background-image: url("tia.png");
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 25px;
    padding-left:20px
    
}
input[type=submit]:hover{
    border:1px solid rgb(145, 145, 145) ;
    border-radius: 3px;
}
.indexeindex2:hover{
    border:   2px solid   rgb(114, 114, 114);
}
.indexeindex2:hover::after{
    animation : shineAnimation 2s 1;

}
.ind1ind2{
    display:flex;
    background-repeat: no-repeat;
    background-image: url("googlelogo.png");
    background-position: 50% 30%;
    background-size: 280px;
    background-attachment: fixed;
    display:flex;
}

form{
    display:flex;
}
a[href="index2.html"]{
    position:absolute;
    top: 5%;
    right:20%;

}
a[href="index3.html"]{
    position:absolute;
    top:5%;
    right:5%;
}
a[href="index2.html"]:hover{
    text-decoration: underline;
}
a[href="index3.html"]:hover{
    text-decoration: underline;
}
#index2link{
    position:absolute;
    top:5%;
    right:10%;
}
a[href="index.html"]:hover{
    text-decoration: underline;
}
#lucky{
    position: absolute;
    top:56%;
    left:50%;
    padding: 5px;
    background-color: rgb(248, 248, 248);
    cursor:pointer;
}
#google2{
    padding: 5px;
    position:absolute;
    background-color: rgb(248, 248, 248);
    cursor:pointer;
    top: 56%;
    right:46%;
}
#da{
    position:absolute;
    top:13%;
    left:4%;
    font-size: 18px;
    color:red;
}
.categorias{
    position:absolute;
    top:28%;
    left:4%;
    p{
    padding-top: 12px;
    padding-bottom:12px;
    }
}

.index3{
    #input1{
        position:absolute;
        top:34.5%;
        left:18.8%;
        border-width:1px;
        border-color:rgb(126, 126, 126);
        width: 500px;
        height:29px;
    }
    #input2{
        position:absolute;
        top:41.8%;
        left:18.8%;
        border-width:1px;
        border-color:rgb(126, 126, 126);
        width: 500px;
        height:29px;
    }
    #input3{
        position:absolute;
        top:49.2%;
        left:18.8%;
        border-width:1px;
        border-color:rgb(126, 126, 126);
        width: 500px;
        height:29px;
    }
    #input4{
        position:absolute;
        top:57%;
        left:18.8%;
        border-width:1px;
        border-color:rgb(126, 126, 126);
        width: 500px;
        height:29px;
    }
    #input1:hover{
        border:1px rgb(87, 87, 247) solid ;

    }
    #input2:hover{
        border:1px rgb(87, 87, 247) solid ;

    }
    #input3:hover{
        border:1px rgb(87, 87, 247) solid ;

    }
    #input4:hover{
        border:1px rgb(87, 87, 247) solid ;

    }

    }
    #buttoninput:hover{
        cursor: pointer;

    }
#googlelogo{
    img{
        position:absolute;
        width: 80px;
        left:2%;
        top:3%;
    }
}
#extratext{
    position:absolute;
    top:28%;
    left:59.6%;
    font-size:smaller;
    div{
        padding:7px 0px 0px 11px;
        color:rgb(128, 128, 128)
    }
    h1{
        font-family:"Lato";
        font-size:20px;
        font-weight:bold;
        color:rgb(102, 102, 102)
    }
    #diferentfont{
        font-family:"Nunito"
    }
}